

/* header */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}

header{
  border: 2px solid #551A8B;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}

.button-primary {
  position: relative;
  background-color: #c0ca33;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}
.button-primary:hover {
  color: #c0ca33;
  text-decoration: none;
}
.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.header-area {
  position: relative;
  height: 5%;
  width: 100%;
  background-color: #9e5add;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header .container{
    display: flex; 
}

.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}

.menu-icon-bar{
  width: 20px;
  height: 10px;
}

/* navbar boton busqueda */
.search-container{
  position: absolute;
  left: 80%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.button-search{
  top: 200px;
  outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 0;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid #551A8B;
  transition: all .7s ease;
  
}

::placeholder{
  color: grey;
}

.btn{
  position: absolute;
  right: 0;
  top: 8.5px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  border: 2px solid #551A8B;
}

.btn i {
  font-size: 25px;
  color: #551A8B;
  line-height: 43px;
  transition: all .7s ease;
}

.search-container:hover input{
  width: 350px;
}

.search-container:hover i{
  transform: rotate(-360deg);
}

/* aside */

.box{
  float: left;
}

aside{
  float: left;
  height: 100%;
  width: 20%;
  background-color: #bf9edd;
  border-right: 2px solid #551A8B;
    border-left: 2px solid #551A8B;
    border-bottom: 1px solid #551A8B;
    border-top: none; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}


.loggin {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.user {
  margin: 10px;
} 

.enter {
  background-color: rgb(172, 109, 231);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* Exclusive experiences - opinions*/

.experience-container{
  overflow: hidden;
    position: relative;
    width: 100%; /* Ajusta al ancho del contenedor padre */
    max-width: 800px; /* Ancho máximo del carousel */
    margin: 0 auto; /* Centra el carousel horizontalmente */
}

.exp {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exp img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover; 
  position: relative;
  margin-right: 18px;
}

.exp h3, .exp h4, .exp p {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mayor legibilidad */
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

.exp h3 {
  top: 60%;
  left: 10px;
  font-size: 24px;
}

.exp h4 {
  top: 73%;
  left: 10px;
  font-size: 18px;
}

.exp p {
  top: 85%;
  left: 10px;
  font-size: 14px;
}

.article-opinions{
  width: 100%; 
}

.opinions h4, .opinions p {
  top: 60%;
  left: 10px;
  font-size: 24px;
}

.experience-container {
  position: relative; 
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  overflow: hidden; 
}

.experience-container button {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7); 
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prevExpBtn {
  display: inline-block;
  left: 10px;
  z-index: 9999;
  
}

#nextExpBtn {
  display: inline-block;
  right: 18px;
  z-index: 9999;
}

.experience-container button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.opinions-container{
  width: 100%;
}

.opinions-container button {
  position: absolute;
    /* top: 110%; */
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7); 
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prevOpiBtn {
  /* display: inline-block;
  left: 22px; */
  z-index: 9999;
}

#nextOpiBtn {
  display: inline-block;
  right: 80%;
  z-index: 9999;
}

.opinions-container button:hover {
  background-color: rgba(255, 255, 255, 1);
}


.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}

.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: #9e5add;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #c0ca33;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {

  .navbar-toggler {
    display: block;
  }
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
    list-style-type: none;
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }

  .dropdown-menu{
    display: block;
  }
}
@media screen and (min-width: 767px) {

  .dropdown-menu{
    display: none;
  }

  /* Esto es el boton de menuu */
.navbar-toggler {
  display: none;
}

  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* body */

* {
    margin: 0;
    padding: 5px;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;     
}

h1, h2, h3{

    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    color: #551A8B;
    font-size: 28px;
    font-weight: bold;
    
}

body{
    padding: 0;
    width: 100vw;
    height: 1200px;
    background-color: #dcb7ee;
    
}

article{
    background-color: blanchedalmond;
    padding: 0;
    margin: 20px;
    min-width: 100px;
    width: 15%;
    height: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    float: left;
    border: 2px solid #551A8B;

}

article{
    transition: transform 0.2s ease;
}

article:hover{
    transform: scale(1.1);
}

section{
    margin: 20px;
    height: 300px;
    display: flex; 
    flex-direction: column;
    color: #551A8B;
    align-items: center;
}


.add_destination{
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 20%;
    background-color: rgb(172, 109, 231);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #551A8B;
    border: 2px solid #551A8B;
}

.container_details h1{
    text-align: center;
}

.container_details{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  cursor: pointer;
}

.details{
    width: 90%;
    height: 80%;
    text-align: center;
    border-radius: 20%;
}

.details div{
    width: 250px;
    height: auto;
}

.info{
    text-align: center;
    background-color: #dcb7ee;
}

.titol{
    text-align: center;
    font-weight: bold;
    background-color: blanchedalmond;
}

nav{
    display: flex;
    width: 100%;
    height: auto;
    margin-left: -10px;
    justify-content: space-around;

}

section h2{
  height: 90%;
}

img{
    width: 200px;
    height: 500px;
    border-radius: 10%;
}

