<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details destination</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      
    />
  </head>
  <body>
    <header class="header-area overlay">
      <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container">
              <a href="#" class="navbar-brand">TusViajes.com</a>

              <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                  <span class="menu-icon-bar"></span>
                  <span class="menu-icon-bar"></span>
                  <span class="menu-icon-bar"></span>
              </button>

              <div id="main-nav" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li><a href="#" class="nav-item nav-link active">Home</a></li>
                      <li><a href="#" class="nav-item nav-link">About Us</a></li>
                      <li class="dropdown">
                          <a href="#" class="nav-item nav-link" data-toggle="dropdown">Services</a>
                          <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">Dropdown Item 1</a>
                              <a href="#" class="dropdown-item">Dropdown Item 2</a>
                              <a href="#" class="dropdown-item">Dropdown Item 3</a>
                          </div>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="nav-item nav-link" data-toggle="dropdown">Portfolio</a>
                          <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">Dropdown Item 1</a>
                              <a href="#" class="dropdown-item">Dropdown Item 2</a>
                              <a href="#" class="dropdown-item">Dropdown Item 3</a>
                              <a href="#" class="dropdown-item">Dropdown Item 4</a>
                              <a href="#" class="dropdown-item">Dropdown Item 5</a>
                          </div>
                      </li>
                      <li><a href="#" class="nav-item nav-link">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>

      <div class="banner">
          <div class="container">
              
          </div>
      </div>
  </header>
  <div class="container_details">
      <h1>Details destination</h1>
       <section class="details"> 
        <div class="div_details">
            <p class="titol">NAME</p>
            <p class="info">{{ destination[1] }}</p>
            <p class="titol">COUNTRY</p>
            <p class="info">{{ destination[2] }}</p>
            <p class="titol">MAIN ATTRACTIONS</p>
            <p class="info">{{ destination[3] }}</p>
        </div>
    </section>
    <nav>
      <a href="/">Back to destinations</a>
      <a href="/update_destination/{{ destination[0] }}">Update destination</a>
    </nav>
    <form action="/details_destination/{{ destination[0] }}/eliminar" method="POST">
      <button type="submit">Delete destination</button>
    </form>
  </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </body>
</html>