<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details destination</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container_details">
      <h1>Details destination</h1>
       <section class="details"> 
        <div class="div_details">
            <p class="titol">NAME</p>
            <p class="info">{{ destination[1] }}</p>
            <p class="titol">COUNTRY</p>
            <p class="info">{{ destination[2] }}</p>
            <p class="titol">MAIN ATTRACTIONS</p>
            <p class="info">{{ destination[3] }}</p>
        </div>
    </section>
    <nav>
      <a href="/">Back to destinations</a>
      <a href="/update_destination/{{ destination[0] }}">Update destination</a>
    </nav>
    <form action="/details_destination/{{ destination[0] }}/eliminar" method="POST">
      <button type="submit">Delete destination</button>
  </form>
    </div>
  </body>
</html>